body {
  padding-bottom: 2%;
}

nav {
  margin-bottom: 1.5rem;
  color: blue;
}

.row {
  margin-bottom: 1.8rem;
}

.project-github-demo, .project-header {
  text-align: center;
}

.projects {
  border: solid 1px #A9A9A9;
  border-radius: 5px;
  padding: .5rem;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

/*contact*/
#contact, .contacts-wrapper {
  text-align: center;
}

.logo-link {
  color: inherit;
}

.icons {
  color: black;
  display: inline-block;
  width: 100%
}

