/* fix right margin on mobile size */
html , body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

/* .bg-dark {
  background-color: #39CCCC !important;
} */

/* intro section */
.jumbo-styles {
  text-align: center;
  background-color: #fff;
  color: black;
  padding: 4rem;
}

.profile-box {
  background: rgb(255, 255, 255);
  border-radius: 5px;

  padding: 2rem 0;
  max-width: 25rem;
  margin: 0 auto;
}

.profile-img {
  border-radius: 50%;
  box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.18);
}

.profile-name {
  margin-top: 1.2rem;
  margin-bottom: .8rem;
}

/*projects*/
#projects {
  /* padding-bottom: 2rem;
  background-color: #fff; */
}

.first-project {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: lightgrey;
}

.last-project {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #F8F8F8;
}

.project-header {
  margin-top: 1.5rem;
}

.project-description {
  color: black;
  border-radius: 5px;
  padding: 1rem;
  margin: .2rem;
  margin-bottom: 1.5rem;
}

.tech-header {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: .6rem;
}

.project-github-demo, .project-header, .tech-header {
  text-align: center;
}

/*contact*/
#contact {
  text-align: center;
  background-color: #202020;
  color: #fff;
  padding-top: 2rem;
}

.logo-link {
  color: inherit;
}

.icons {
  color: white;
  display: inline-block;
  width: 100%;
  margin-top: .5rem;
}

.copyright-name {
  display: inline-block;
  margin-top: 1rem;
}
